{% extends 'base.html' %}

{% block header %}
  {{ super() }}
  {% block title %}
    <title>Login</title>
  {% endblock %}
  {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/acceso.css') }}" />
  {% endblock %}
{% endblock %}

{% block body %}
  <div class="container">
    <form class="col-5" action="{{ url_for('accesoHandler') }}" method="POST">
      <div class="mb-3">
        <label for="fieldUsuario" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="fieldUsuario" name="fieldUsuario">
      </div>
      <div class="mb-3">
        <label for="fieldPassword" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="fieldPassword" name="fieldPassword">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Acceder</button>
      </div>
      <div class="mb-3 link">
        <a href="registro">Si aún no tienes usuario registrate</a> 
      </div>
      <div class="mb-3 link">
        <a href="registro">Recupera contraseña y/o usuario</a>
      </div>
    </form>
  </div>
{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}