{% extends 'base.html' %}

{% block header %}
  {{ super() }}
  {% block title %}
    <title>Administrador</title>
  {% endblock %}
  {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
  {% endblock %}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="columnas">
      <div class="fila">
        <img class="admin-img" src="static/assets/productoadmin.PNG" alt="">
        <a class="items-btn" href="productos">Añadir Producto</a>
        <a class="items-btn" href="productos">Solicitar Producto</a>
        <a class="items-btn" href="productos">Actualizar Producto</a>
        <a class="items-btn" href="productos">Remover Producto</a>
      </div>
      <div class="fila">
        <img  class="admin-img"src="static/assets/proveedoradmin.PNG" alt="">
        <a class="items-btn" href="proveedores">Añadir Proveedor</a>
        <a class="items-btn" href="proveedores">Actualizar Proveedor</a>
        <a class="items-btn" href="proveedores">Remover Proveedor</a>
      </div>
      <div class="fila">
        <img class="admin-img" src="static/assets/empleadosadmin.PNG" alt="">
        <a class="items-btn" href="empleado">Añadir Empleado</a>
        <a class="items-btn" href="empleado">Mostrar Empleado</a>
        <a class="items-btn" href="empleado">Actualizar Empleado</a>
        <a class="items-btn" href="empleado">Remover Empleado</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}