{% extends 'base.html' %}

{% block header %}
  {{ super() }}
  {% block title %}
    <title>Usuario</title>
  {% endblock %}
  {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  {% endblock %}
{% endblock %}

{% block body %}
	<div class="container">
		<form class="form">
			<div class="row form-item">
				<div class="col-2">
					<h4>Empleado </h4>
				</div>
				<div class="col-5">
					<input type="text" class="form-control" id="fieldProveedor">
				</div>
			</div>
			<div class="row form-item">
				<div class="col-4">
					<label for="fieldNit" class="form-label">CC</label>
					<input type="text" class="form-control" id="fieldNit">
				</div>
				<div class="col-8">
					<label for="fieldNombre" class="form-label">Nombre</label>
					<input type="text" class="form-control" id="fieldNombre">
				</div>
			</div>
			<div class="row form-item">
				<div class="col-4">
					<label for="fieldTelefono" class="form-label">Telefono</label>
					<input type="text" class="form-control" id="fieldTelefono">
				</div>
				<div class="col-8">
					<label for="fieldDireccion" class="form-label">Direccion</label>
					<input type="text" class="form-control" id="fieldDireccion">
				</div>
			</div>
			<div class="row form-item">
				<div class="col-6">
					<label for="fieldEmail" class="form-label">Email</label>
					<input type="email" class="form-control" id="fieldEmail">
				</div>
				<div class="col-6">
					<label for="fieldWeb" class="form-label">Buscar producto</label>
					<input type="text" class="form-control" id="fieldWeb" placeholder="Buscar producto">
				</div>
			</div>
			<div class="row form-item">
				<div class="col-12">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">NIT</th>
								<th scope="col">Nombre</th>
								<th scope="col">Telefono</th>
								<th scope="col">Correo</th>
								<th scope="col">Sitio web</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">001</th>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
							<tr>
								<th scope="row">002</th>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row form-item">
				<div class="menuBotones col-12">
					<button type="button" class="btn btn-primary">Nuevo</button>
					<button type="button" class="btn btn-primary">Modificar</button>
					<button type="button" class="btn btn-primary">Eliminar</button>
					<button type="button" class="btn btn-primary">Grabar</button>
					<button type="button" class="btn btn-primary">Listar</button>
					<button type="button" class="btn btn-primary">Salir</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block footer %}
	{{ super() }}
{% endblock %}