{% extends 'base.html' %}

{% block header %}
  {{ super() }}
  {% block title %}
    <title>Usuario</title>
  {% endblock %}
  {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  {% endblock %}
{% endblock %}

{% block body %}
	<div class="container">
		<form class="form">
			<div class="row form-item">
				<div class="col-2">
					<h4>Producto </h4>
				</div>
			</div>
			<div class="row form-item">
				<div class="col-3">
					<label for="fieldIdProducto" class="form-label">ID producto</label>
					<input type="text" class="form-control" id="fieldIdProducto">
				</div>
				<div class="col-9">
					<label for="fieldNombre" class="form-label">Nombre</label>
					<input type="text" class="form-control" id="fieldNombre">
				</div>
			</div>
			<div class="row form-item">
				<div class="col-3">
					<label for="fieldPrecioCompra" class="form-label">Precio compra</label>
					<input type="text" class="form-control" id="fieldPrecioCompra">
				</div>
				<div class="col-3">
					<label for="fieldPrecioVenta" class="form-label">Precio venta</label>
					<input type="text" class="form-control" id="fieldPrecioVenta">
				</div>
				<div class="col-2">
					<label for="fieldStock" class="form-label">Stock</label>
					<input type="email" class="form-control" id="fieldStock">
				</div>
				<div class="col-4">
					<label for="fieldBuscarProducto" class="form-label">Buscar producto</label>
					<input type="text" class="form-control" id="fieldBuscarProducto">
				</div>
			</div>
			<div class="row form-item">
				<div class="menuBotones col-12">
					<button type="button" class="btn btn-primary">Nuevo</button>
					<button type="button" class="btn btn-primary">Modificar</button>
					<button type="button" class="btn btn-primary">Eliminar</button>
					<button type="button" class="btn btn-primary">Grabar</button>
					<button type="button" class="btn btn-primary">Listar</button>
					<button type="button" class="btn btn-primary">Salir</button>
				</div>
			</div>
			<div class="row form-item">
				<div class="col-12">
					<table class="table">
						<thead>
							<tr>
								<th scope="col-2">Id producto</th>
								<th scope="col-4">Nombre</th>
								<th scope="col-2">Stock</th>
								<th scope="col-2">Precio compra</th>
								<th scope="col-2">Precio venta</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">001</th>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
							<tr>
								<th scope="row">002</th>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block footer %}
	{{ super() }}
{% endblock %}