{% extends 'base.html' %}

{% block header %}
  {{ super() }}
  {% block title %}
    <title>Recuperar</title>
  {% endblock %}
  {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recuperar.css') }}">
  {% endblock %}
{% endblock %}

{% block body %}
  <div class="container">
    <form class="col-4" method="POST">
      <div class="mb-3">
        <h4>Recupera tu usuario o contraseña</h4>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Digite el correo electronico con el que se registro en el sistema</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}