<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario recuperar</title>
    <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/estilos.css") }}' />
</head>

{% block content %}
<form method="post">
    <div class="wrap">
        <label for="fname">Nombre</label>
        <input id=”fname” name="fname" type=”text class="cool" />
    </div>
    <div>
        <label for="email">Correo</label>
        <input id="email" name="email" type=text class="cool" />
    </div>
    <div>
        <label for="lperfil">Perfil</label>
        <input id="lperfil" type=text/>
    </div>
    <div>
        <label for="user">Usuario</label>
        <input id="user" type=text/>
    </div>
    <div>
        <label for="pasword">Contraseña</label>
        <input id="pasword" type=text/>
    </div>
    <div>
        <label for="pword">Verificar contraseña</label>
        <input id="pword" type=text/>
    </div>
    <div>
        <h3>Campos marcados con * son obligatorios</h3>
    </div>
    <input type="submit" value="Guardar" /> Guardar
    </div>
</form>
{% endblock %}