{% extends 'base.html' %}

{% block header %}
  {{ super() }}
  {% block title %}
    <title>Usuario</title>
  {% endblock %}
  {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
  {% endblock %}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="columnas">
      <div class="fila">
        <img class="admin-img" src="static/assets/productoadmin.PNG" alt="">        
        <button class="items-btn">Añadir Producto</button>
        <button class="items-btn">Solicitar Producto</button>
        <button class="items-btn">Actualizar Producto</button>
        <button class="items-btn">Remover Producto</button>
      </div>

      <div class="fila">
        <img  class="admin-img"src="static/assets/proveedoradmin.PNG" alt="">
        <button class="items-btn">Añadir Proveedor</button>
        <button class="items-btn">Actualizar Proveedor</button>
        <button class="items-btn">Remover Proveedor</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}